<ion-view title="Cadastre-se" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="cadastreSe-form5" class="list">
            <ion-list id="cadastreSe-list2">
                <label class="item item-input" id="cadastreSe-input2">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="" ng-model="aluno.nome">
                </label>
                <label class="item item-input" id="cadastreSe-input3">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="aluno.email">
                </label>
                <label class="item item-input" id="cadastreSe-input4">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="" ng-model="aluno.password">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Escola
                    </div>
                    <select ng-model="aluno.escola" ng-options="item.f_name for item in escolas track by item.id">
      </select>
                </label>
            
            </ion-list>
            <a ng-click="cadastrar(aluno)" id="cadastreSe-button12" class="button button-positive  button-block">Cadastrar</a>
        </form>
    </ion-content>
</ion-view>