<ion-view title="Confirmar Merenda" id="page7">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/EEPxoKPkR0qI404baqaJ_TortadeBolacha002.JPG" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <div id="confirmarMerenda-markdown7" style="color:#000000;">
            <p>Nos informe o que tem na sua merenda:</p>
        </div>
        <form id="confirmarMerenda-form3" class="list">
            <label class="item item-input" id="confirmarMerenda-textarea1">
                <span class="input-label">Merenda:</span><textarea placeholder="bolacha com nescau"></textarea>
            </label>
        </form>
        <div id="confirmarMerenda-markdown8" style="color:#000000;">
            <p>A merenda é igual a do cardápio?</p>
        </div>
        <form id="confirmarMerenda-form4" class="list">
            <ion-radio id="confirmarMerenda-radio4">SIM</ion-radio>
            <ion-radio id="confirmarMerenda-radio5">NÃO</ion-radio>
            <button id="confirmarMerenda-button7" class="button button-positive  button-block icon-right ion-android-send">Enviar</button>
        </form>
    </ion-content>
</ion-view>