<ion-view title="Consulte escola" id="page11">
    <ion-content padding="true" class="has-header">
        <form id="consulteEscola-form6" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="consulteEscola-list3">
            <ion-item class="item-icon-right" id="consulteEscola-list-item11" ui-sref="tabsController.pontuaO">Item 1
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="consulteEscola-list-item12" ui-sref="tabsController.pontuaO">Item 2
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="consulteEscola-list-item13" ui-sref="tabsController.pontuaO">Item 3
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>