<ion-view title="Enviar Foto" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="enviarFoto-form1" class="list">
            <ion-item class="item item-text-wrap" id="enviarFoto-list-item7">
                <h2>{{ nome_escola }}</h2>
                <p style="white-space:normal;">{{ datetime | date: 'dd/mm/yyyy' }}</p>
                <p>{{ datetime | date: "HH:mm" }}</p>
            </ion-item>
            <ion-radio ng-model="haveMerenda" ng-value="merenda" id="enviarFoto-radio1">TEM merenda</ion-radio>
            <ion-radio ng-model="haveMerenda" ng-value="diferente" id="enviarFoto-radio2">Merenda DIFERENTE do cardápio</ion-radio>
            <ion-radio ng-model="haveMerenda" ng-value="sem_merenda" id="enviarFoto-radio3">NÃO tem merenda</ion-radio>
        </form>
        <button id="enviarFoto-button6" class="button button-positive  button-block" ng-click="checkHasMerenda(haveMerenda)">Avançar</button>

        <script id="modal-foto-cardapio.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
            
                <h1>Vamos primeiro tirar uma foto do CARDÁPIO!</h1>
        
                <button class="button icon-left ion-camera button-stable button-block" ng-click="tirarFotoCardapio()">Tirar Foto</button>
            
            </ion-content>
        </ion-modal-view>
        </script>

        <script id="modal-foto-merenda.html" type="text/ng-template">
            <ion-modal-view>
            <ion-content>

            <h1>Vamos primeiro tirar uma foto da MERENDA!</h1>

            <button class="button icon-left ion-camera button-stable button-block"  ng-click="tirarFotoMerenda()">Tirar Foto</button>

            </ion-content>
            </ion-modal-view>
        </script>


    </ion-content>
</ion-view>
