<ion-view title="Feed" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="card" id="feed-card21" collection-repeat="feed in feeds">
            <ion-item class="item" id="feed-list-item1">
                <p>{{ feed.f_escola }}</p>
                <p>{{ feed.f_data }}</p>
            </ion-item>
            <div class="row">
                <div class="col">
                    <div class=" item item-image">
                        <img ng-src="{{ server }}{{ feed.imagem1 }}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
                <div class="col">
                    <div class=" item item-image">
                        <img ng-src="{{ server }}{{ feed.imagem2 }}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                </div>
            </div>

            <ion-item class="item">{{ feed.f_status }}</ion-item>

            <div class="item" id="feed-list-item-container1">
                <div id="feed-button-bar1" class="button-bar">
                    <button id="feed-button1" class="button button-stable  button-block icon ion-android-favorite"> {{ feed.f_qtd_curtidas }}</button>
                    <button id="feed-button3" class="button button-stable  button-block icon ion-alert-circled"> {{ feed.f_qtd_denucia }}</button>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>


<!--http://www.ajr.eti.br/mc/aluno/merenda/download/ t_denuncia.imagem1.863751c40a950399.636f6d69646130312e706e67.png?t_denuncia.imagem1.863751c40a950399.636f6d69646130312e706e67.png=&_signature=a2fb488c54267cc41b32900d1fa7e59092ac2073-->