<ion-view title="Início" id="page10">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/YEhVyUNSQ2qA7KP7kk7A_logo.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="inCio-markdown10" style="color:#000000;text-align:justify;">
            <p>Este é um jogo onde além do participante colaborar com a disponibilização da merenda de forma correta na escola, ainda pode participar ganhando pontos e competindo para ver quem é o melhor fiscal cidadão.</p>

            <p>Fotografe o cardápio e a merenda da sua escola e verifique a cada dia se está tudo correto. Participe deste jogo cidadão!</p>
        </div>
        <a ui-sref="cadastreSe" id="inCio-button16" class="button button-positive  button-block">Quero participar</a>
        <a ui-sref="consulteEscola" id="inCio-button17" class="button button-calm  button-block">Consulte uma escola</a>
    </ion-content>
</ion-view>