<ion-view title="Login" id="page-login">
    <ion-content padding="true" class="has-header">
        <form id="login-form5" class="list">
            <ion-list id="login-list2">
                <label class="item item-input" id="login-input3">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="login.email">
                </label>
                <label class="item item-input" id="login-input4">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="" ng-model="login.password">
                </label>
            </ion-list>
            <a ng-click="logar(login)" id="login-button12" class="button button-positive  button-block">Login</a>
            <a href="#/cadastro" id="login-button12" class="button button-stable  button-block">Cadastre-se</a>
        </form>
    </ion-content>
</ion-view>