<ion-view title="Participação" id="page8">
    <ion-content padding="true" class="has-header">
        <h1 id="participaO-heading2" style="color:#000000;">Obrigado!</h1>
        <div id="participaO-markdown9" style="color:#000000;">
            <p>é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou</p>
        </div>
        <div id="participaO-button-bar3" class="button-bar">
            <button id="participaO-button9" class="button button-positive  button-block icon ion-grid"></button>
            <button id="participaO-button11" class="button button-calm  button-block icon ion-podium"></button>
        </div>
    </ion-content>
</ion-view>