<ion-view title="Pontuação" id="page4">
    <ion-content padding="true" class="has-header">

        <div class="card">
            <div class="item item-text-wrap">
                <p><strong>{{ nome_escola }}</strong></p>
            </div>
            <div class="item item-text-wrap">
                <p><strong>{{ nome_escola }}</strong></p>
            </div>
            <div class="card" style="text-align:center;padding:4em;">
                <span style="width: 50%;height:200px;border-radius:50%;background-color:#feebbb;text-align:center;font-size:2em;padding:20px;">535</span>
            </div>
        </div>


        <!--<div class="card">
            <div class="item item-divider item-text-wrap">
                Escola Estadual de 1º grau Professor Gabriel Wright
            </div>
            <div class="item item-avatar">
                <img src="img/aluno.jpg">
                <h2>Maria Fernanda</h2>
                120 <i class="icon ion-star"></i>
            </div>
        </div>-->



    </ion-content>
</ion-view>