<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Minha escola" icon="ion-grid" href="#/page1/feed" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Participar" icon="ion-ios-camera" href="#/page1/enviar-foto" id="tabsController-tab2" class="button-positive">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pontuação" icon="ion-podium" href="#/page1/pontuacao" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>